body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box ;
}
#root{
    height: 100vh;
    width: 100vw;
    background-color: teal;
    display: flex;
    justify-content: center;
}
.board{
    /* background-color: aliceblue; */
    width: 50%;
    height: 100vh;
}
.display{
    height:100vh;
    width: 50%;
}
.title{
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;    
}
.content{
     border: 2px solid white;
    height: 92%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ttt{
    /* background-color: red; */
    border: 2px solid white;
    border-radius: 1rem;
    height: 75%;
    width: 75%;
    /* margin: 0 auto;
     */
     display: flex;
     flex-direction: column;

}
.history{
    border: 2px solid white;
    border-radius: 1rem;
    height: 75%;
    width: 75%;
    /* margin: 0 auto;
     */
     overflow-y: auto;
     display: flex;
     flex-direction: column;
}
.ttt .row{
    height: 100%;
    display: flex;
    flex-direction: row;
}
.row button{
    width: 100%;
    font-size: 120px;
    cursor: pointer;
    border-radius: 1rem;
}
.row button:hover{
    background-color: aquamarine;
}
.history button{
    background-color: white;
    border-radius: 1rem;
    padding: 20px;
    font-size: 30px;
    cursor: pointer;
    /* overflow-y: auto; */
}
.history button:hover{
    background-color: aqua;

}
